.App {
  text-align: center;
  width: 100%;
}
/* styles.css */





.nav-bar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  width: 100%;
  
}
.nav-logo{
   width: 60px;
   height: 60px;
   border-radius: 30px;
}

.navbar-menu-container {
  display: none;
  
}
.navbar-links-container a {
  margin-right: 2rem;
  text-decoration: none;
  color: black;
  font-size: 1.1rem;
  font-weight: 600;

}



.side-navigation{

  text-decoration: none;
  color: black;
  
}
.side-navigation:hover {
  text-decoration: none;
  border-bottom: 1px solid black;

}

.nav-link:hover {
    text-decoration:none;
    border-bottom: 3px solid black;
  }

.search-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.nav-input{
  width: 30%;
  height: 0.5vh;
  padding: 10px;
  border-radius: 20px;
  border-width: 1px;
  

}
.nav-input:focus{
      outline:0;
      
}
.search-icon{
  position: absolute;
  font-size: 16px;
  pointer-events: none;
  left: 63%;
}
.nav-links{
  display: none;

}
.nav-links a {
  text-decoration: none;
  font-size: 16px;
  color: black;
  margin-left: 20px;
  
  
}
.nav-links a:hover{
  text-decoration: none;
  border-bottom: 3px solid black;
}
.menu-icon{
  display: none;
}

.select{
  border: none;
  margin-right: 15px;
  width: 14px;
  margin-left: -15px;
}
.select:focus{
  border: none;
}


/* Auth */
.auth-image{
  background-image: url('./images/login.jpg');
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  justify-content: center;
  align-items: center;
}


.auth-card {

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: white;
  height: 40rem;
  width: 20%;
  margin: 10vh auto;
  justify-content: center;
  align-items: center;
  border-radius: 10px;

}

.btn-home{
  border: none;
  font-size: 26px;
  color: white;
  margin-left: 90%;
  margin-top: 3%;
  cursor: pointer;
  border-radius: 10px;
  
}

.heading {
  margin-top: 100px;
  font-size: 3.4rem;
}



.input-container {
  position: relative;
}


.input-container input {
  border: 1px solid gray;
  border-radius: 2px;
  position: relative;
  width: 70%;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 3vh;
  padding: 0px 10px;
}

.input-container label {
  font-weight: normal;
  font-size: 10px;
  position: absolute;
  z-index: 1;
  left: 6em;
  background-color: white;
  padding: 0 5px;
}



.password-input-container {
  position: relative;
}

.password-toggle-icon {
  position: absolute;
  top: 50%;
  left: 280px;
  transform: translateY(-50%);
  cursor: pointer;
}

.fa-eye:before {
  content: '\f06e';
}

.fa-eye-slash:before {
  content: '\f070';
}

.input-container .rememberme {

  width: 15px;
  height: 10px;

}


.submit-button {
  margin-top: 30px;
  width: 20%;
  height: 3vh;
  margin-bottom: 20px;
  background-color: rgb(247, 199, 128);
  border: none;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.login-link {
  color: red;
  text-decoration: none;
}


/* home */
.continue-shopping{
  background-color: black;
  color: white;
  padding: 15px 20px;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  margin-right: 90%;
  margin-top: 1%;
  cursor: pointer;
}

/* product */
.product-list {
  text-align: center;
  
}


.slide-image{
  width: 10%;
  height: 50vh;
  
  
}

.products{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 100px;
  padding: 100px
}
.image-container{
  position: relative;
  width: 100%;
  max-height: 700px;
  overflow: hidden;
}


.product-image{
width: 100%;
height: 20vh;
 border-radius: 3px 3px 0 0;
}
.product-card{
  
  width: 200px;
  border-radius: 3px;
  cursor: pointer;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.product-card p {
  text-align: center;
  margin: 0;
  cursor: pointer;
}
.product-card .product-description {
  max-height:20px; 
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.product-card button {
  display: block;
  margin: 10px auto 0;
  padding: 4px 20px;
  border: none;
  background-color: #3498db;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
}
.product-card button:hover {
  background-color: #2980b9;
}

/* Product View */
.product-details{
  display: flex;
  justify-content: center;
  align-items: center;
  padding:200px;
}


.product-view-card {
  width: 1000px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
}

.product-view-image{
  width: 400px;
  height: 300px;
  border-radius: 5px;
 

}

.details{

margin-left: 10%;
}

.product-quanity{
  display: flex;
  justify-content: center;
  align-items: center;

}

.product-quanity button{
  height: 30px;
  width: 30px;
  border: none;
  cursor: pointer;

}

.product-quanity p {
  width: 100px;
}

.add-to-cart-btn{
  border: none;
  margin-bottom: 100px;
  padding: 15px 20px;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
}
/* Card */
.cart-img{
  width: 100px;
  height: 100px;
}
.quantity{
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart-product{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  box-shadow: 0px 4px 8px black;
}

.cart-product p{
  margin-left: 40px;
}
.cart-buttons-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.cart-buttons-container button{
  height: 50px;
  border: none;
  cursor: pointer;
}
.cart-icon{
  position: relative;
  display: inline-block;
  top: 8px;
  
}
.cart-count{
  position: absolute;
  top: -8px;
  right: -8px;
  background-color: rgb(121, 139, 113);
  font-size: 12px;
  font-weight: bold;
  color: white;
  padding: 2px 5px;
  border-radius: 50%;
}

.delete-btn{
  margin-left: 40px;
  border: none;
  background-color: white;
  font-size: 23px;
  cursor: pointer;
}

.footer-container{
  width: 100%;
  background-color: #c1c7cc;
  padding: 100px 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;

}
/* media screen */

@media screen and (max-width: 800px){
  .nav-logo-container {
    max-width: 140px;
  }
  .navbar-links-container {
    display: none;
  }
  .navbar-menu-container {
    display: flex;
  }
  .products{
  
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
    padding: 20px
   
  }
}

@media (min-width: 800px) and (max-width: 1200px) {
  .navbar-links-container a {
    margin-right: 1rem;
    font-size: 1rem;
  }

  .products{
  
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    
   
  }
  
 
}